# Sample KS File 
accepteula 
install --firstdisk=local --overwritevmfs
rootpw HOSTPASSWORDPLACEHOLDER

network --bootproto=dhcp --device=vmnic0

%firstboot --interpreter=busybox
vim-cmd hostsvc/enable_ssh
vim-cmd hostsvc/start_ssh
vim-cmd hostsvc/enable_esx_shell
vim-cmd hostsvc/start_esx_shell 

esxcli network vswitch standard policy security set -v vSwitch0 -m true -f true -p false

esxcli storage nfs add -H 192.168.50.1 -s ESXIROOTPLACEHOLDER/VMs -v vm-datastore
esxcli storage nfs add -H 192.168.50.1 -s ESXIROOTPLACEHOLDER/ISO -v iso-datastore
esxcli storage nfs add -H 192.168.50.1 -s ESXIROOTPLACEHOLDER/OVA -v ova-datastore

cat > /etc/ntp.conf << __NTP_CONFIG__
restrict default kod nomodify notrap noquerynopeer
restrict 127.0.0.1
server 192.168.20.1
__NTP_CONFIG__
 
/sbin/chkconfig ntpd on
/etc/init.d/ntpd start

sed -i "\$i localcli network nic ring current set -n vmnic0 -r 4096" /etc/rc.local.d/local.sh
sed -i "\$i localcli network nic ring current set -n vmnic1 -r 4096" /etc/rc.local.d/local.sh
sed -i "\$i localcli network nic ring current set -n vmnic2 -r 4096" /etc/rc.local.d/local.sh
sed -i "\$i localcli network nic ring current set -n vmnic3 -r 4096" /etc/rc.local.d/local.sh
sed -i "\$i localcli network nic ring current set -n vmnic4 -r 4096" /etc/rc.local.d/local.sh
sed -i "\$i localcli network nic ring current set -n vmnic5 -r 4096" /etc/rc.local.d/local.sh
sed -i "\$i localcli network nic ring current set -n vmnic6 -r 4096" /etc/rc.local.d/local.sh

sed -i "\$i localcli network nic ring current set -n vmnic0 -m 8192" /etc/rc.local.d/local.sh
sed -i "\$i localcli network nic ring current set -n vmnic1 -m 8192" /etc/rc.local.d/local.sh
sed -i "\$i localcli network nic ring current set -n vmnic2 -m 8192" /etc/rc.local.d/local.sh
sed -i "\$i localcli network nic ring current set -n vmnic3 -m 8192" /etc/rc.local.d/local.sh
sed -i "\$i localcli network nic ring current set -n vmnic4 -m 8192" /etc/rc.local.d/local.sh
sed -i "\$i localcli network nic ring current set -n vmnic5 -m 8192" /etc/rc.local.d/local.sh
sed -i "\$i localcli network nic ring current set -n vmnic6 -m 8192" /etc/rc.local.d/local.sh

sed -i "\$i localcli network nic ring current set -n vmnic0 -j 8192" /etc/rc.local.d/local.sh
sed -i "\$i localcli network nic ring current set -n vmnic1 -j 8192" /etc/rc.local.d/local.sh
sed -i "\$i localcli network nic ring current set -n vmnic2 -j 8192" /etc/rc.local.d/local.sh
sed -i "\$i localcli network nic ring current set -n vmnic3 -j 8192" /etc/rc.local.d/local.sh
sed -i "\$i localcli network nic ring current set -n vmnic4 -j 8192" /etc/rc.local.d/local.sh
sed -i "\$i localcli network nic ring current set -n vmnic5 -j 8192" /etc/rc.local.d/local.sh
sed -i "\$i localcli network nic ring current set -n vmnic6 -j 8192" /etc/rc.local.d/local.sh

sed -i "\$i localcli network nic ring current set -n vmnic0 -t 4096" /etc/rc.local.d/local.sh
sed -i "\$i localcli network nic ring current set -n vmnic1 -t 4096" /etc/rc.local.d/local.sh
sed -i "\$i localcli network nic ring current set -n vmnic2 -t 4096" /etc/rc.local.d/local.sh
sed -i "\$i localcli network nic ring current set -n vmnic3 -t 4096" /etc/rc.local.d/local.sh
sed -i "\$i localcli network nic ring current set -n vmnic4 -t 4096" /etc/rc.local.d/local.sh
sed -i "\$i localcli network nic ring current set -n vmnic5 -t 4096" /etc/rc.local.d/local.sh
sed -i "\$i localcli network nic ring current set -n vmnic6 -t 4096" /etc/rc.local.d/local.sh

esxcli network ip set --ipv6-enabled=false
esxcli system settings advanced set -o /Net/UseHwTSO -i 0
esxcli system settings advanced set -o /Net/NetpollSwLRO -i 0
esxcli system settings advanced set -o /Net/VmxnetSwLROSL -i 0
esxcli system settings advanced set -o /Net/Vmxnet3SwLRO -i 0
esxcli system settings advanced set -o /Net/Vmxnet3HwLRO -i 0
esxcli system settings advanced set -o /Net/Vmxnet2SwLRO -i 0
esxcli system settings advanced set -o /Net/Vmxnet2HwLRO -i 0
esxcli system settings advanced set -o /Net/TcpipDefLROEnabled -i 0
esxcli system settings advanced set -o /UserVars/SuppressShellWarning -i 1
esxcli system settings advanced set -o /Power/CpuPolicy -s "High Performance" 
# esxcli system settings advanced set -o /Net/NoLocalCSum -i 1
# # esxcli system settings advanced set -o /UserVars/ESXiVPsDisabledProtocols -s ""
esxcli system module parameters set -m vmxnet3 -p "disable_lro=1"
esxcli system settings advanced set -o /Net/FollowHardwareMac -i 1

esxcli network nic software set --ipv4tso=0 -n vmnic0
esxcli network nic software set --ipv4tso=0 -n vmnic1
esxcli network nic software set --ipv4tso=0 -n vmnic2
esxcli network nic software set --ipv4tso=0 -n vmnic3
esxcli network nic software set --ipv4tso=0 -n vmnic4
esxcli network nic software set --ipv4tso=0 -n vmnic5
esxcli network nic software set --ipv4tso=0 -n vmnic6

esxcli network nic software set --ipv4cso=0 -n vmnic0
esxcli network nic software set --ipv4cso=0 -n vmnic1
esxcli network nic software set --ipv4cso=0 -n vmnic2
esxcli network nic software set --ipv4cso=0 -n vmnic3
esxcli network nic software set --ipv4cso=0 -n vmnic4
esxcli network nic software set --ipv4cso=0 -n vmnic5
esxcli network nic software set --ipv4cso=0 -n vmnic6

vim-cmd hostsvc/advopt/update Config.HostAgent.ssl.keyStore.allowSelfSigned bool true
vim-cmd hostsvc/advopt/update Config.HostAgent.ssl.keyStore.allowAny bool true
vim-cmd hostsvc/advopt/update Config.HostAgent.plugins.solo.enableMob bool true
esxcli system syslog config set --logdir=/vmfs/volumes/vm-datastore/esxi-hostlogs --logdir-unique=true
esxcli system syslog reload
mv /etc/vmware/ssl/rui.crt /etc/vmware/ssl/orig.rui.crt
mv /etc/vmware/ssl/rui.key /etc/vmware/ssl/orig.rui.key
/sbin/generate-certificates
esxcli system maintenanceMode set --enable true
esxcli system shutdown reboot -r 1 -d 10
